
<!DOCTYPE html>
<html>
<head>
    <title>Adding new tickets</title>
</head>
<body>
    <div>
        <p>Please fill next form:</p>
        <form method="post">
            <table>
                <tr>
                    <td>Departure:</td>
                    <td><input type="text" name="Departure" /> </td>
                </tr>
                <tr>
                    <td>Destination:</td>
                    <td><input type="text" name="Destination" /></td>
                </tr>
                <tr>
                    <td>Transport:</td>
                    <td><input type="text" name="Transport" /></td>
                </tr>
                <tr>
                    <td>TripLength:</td>
                    <td><input type="number" name="TripLength" /></td>
                </tr>
                <tr>
                    <td>Cost:</td>
                    <td><input type="number" name="Cost" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Add" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

