@{
    ViewData["Title"] = "Buy Root";
}
<style>
</style>

<h2 style="padding: 20px">Unfortunately</h2>
<h4>Adding payment system is not possible, yet</h4>
<h4>However, you can enjoy your trip, tickets and accomodation reserve were sent to @ViewBag.email!</h4>