@{
    ViewData["Title"] = "Error 404";
}


<br />
<h1 class="title">
    <span>Oops!</span>
</h1>
<h2 class="title">
    <span>Something went wrong=(</span>
</h2>
<br />
<h3>Try using "Home" or "Back" button</h3>